Package: wiki.qaq.trollfools.l
Name: TrollFools.L
Version: 4.3-260
Section: Applications
Depends: firmware (>= 14.0)
Architecture: iphoneos-arm
Author: Lessica <82flex@gmail.com>
Maintainer: Lessica <82flex@gmail.com>
Description: Give me 108 yuan.
